/* General Effect */
a {
    text-decoration: none;
}

/* Sidebars Component */
.expanded-sidebar {
    background-color: #fefefe;
    border-right: .1vw solid #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: 22vw;
}

.logo-text {
    padding: 2vw 0;
    font-size: 1.4vw;
    font-family: 'Jost-Semi';
    color: #1f9984;
    cursor: pointer;
}

.expanded-sidebar .selected-menu, .expanded-sidebar .unselected-menu {
    padding: 1.3vw 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 23%;
    gap: 1.6vw;
    font-family: 'Jost-Medium';
    cursor: pointer;
}

.expanded-sidebar .selected-menu {
    border-bottom: .15vw solid #1f9984;
    border-left: .8vw solid #1f9984;
    color: #1f9984;

}

.expanded-sidebar .selected-menu>.es-icon, .compacted-sidebar .selected-menu>.es-icon {
    font-size: 1.3vw;
    font-weight: 900;
}

.expanded-sidebar .unselected-menu {
    background-color: white;
    border-bottom: .1vw solid #ddd;
    color: #202020;
    display: flex;
}

.expanded-sidebar .unselected-menu>.es-icon, .compacted-sidebar .unselected-menu>.es-icon {
    font-size: 1.3vw;
    font-weight: 900;
}

.compacted-sidebar {
    background-color: #fefefe;
    border-right: .1vw solid #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: 7vw;
}

.compacted-sidebar .selected-menu, .compacted-sidebar .unselected-menu {
    padding: 1.3vw 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6vw;
    font-family: 'Jost-Medium';
    cursor: pointer;
}

.compacted-sidebar .selected-menu {
    border-bottom: .15vw solid #1f9984;
    border-left: .4vw solid #1f9984;
    color: #1f9984;
}

.compacted-sidebar .unselected-menu {
    background-color: white;
    border-bottom: .1vw solid #ddd;
    color: #202020;
    display: flex;

}

/* Header Component */
.header-container {
    border-bottom: 0.1vw solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .3vw;
    width: 100%;
}

/* Main Component Container */
.main-component-container {
    display: flex;
}

/* Main Screen Container */
.main-screen {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
    padding: 1.8vw 3vw;
    width: 100%;
}

.content {
    background-color: #fafafa;
    border-radius: 0.2vw;
    height: 100%;
}

.colored-page-link {
    color: #1f9984;
}

/* Login Component */
.main-component-container .left, .main-component-container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.main-component-container .left {
    background-color: #fafafa;
    justify-content: space-between;
}

.main-component-container .right {
    background-color: #26baa0;
    background-color: rgba(31, 153, 132, 0.7);
    justify-content: center;
}

.logo-text-large {
    color: #1f9984;
    cursor: pointer;
    font-size: 1.8vw;
    font-family: 'Jost-Semi';
    letter-spacing: .05vw;
    padding: 2vw 0;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 24%;
    gap: 2.8vw;
    width: 100%;
}

.welcome-text {
    color: #404040;
    font-family: 'Jost-Medium';
    font-size: 1.8vw;
}

.subtitle-text {
    color: #888;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.form-element {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.4vw;
}

.password-element {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}

.input-label {
    color: #666;
}

.input-element:focus {
    background-color: #e8f0fe;
    border: 0.01vw solid #1b8572;
    outline: none;
}

.input-element {
    background-color: #fefefe;
    border: 0.01vw solid #1b8572;
    border-radius: .3vw;
    padding: 0.8vw 1vw;
    width: 100%;
}

.password-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}

.password-icon {
    color: #1f9984;
    font-size: 1.6vw;
}

.reset-password {
    color: #1f9984;
}

.support-container {
    color: #666;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.login-button {
    background-color: #1f9984;
    border: none;
    border-radius: .3vw;
    color: #fefefe;
    font-family: 'Jost-Medium';
    outline: none;
    padding: 0.8vw 0;
}

.footer-text {
    color: #666;
    padding: 2vw 0;
}

.illustration {
    width: 80%;
}

/* Create components */
.form-container-2 {}

.form-inputs-container-2 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.form-elements-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.4vw;
}

.input-label-2 {
    color: #666;
}

.input-element-2 {
    background-color: #fefefe;
    border: 0.01vw solid #1b8572;
    border-radius: .3vw;
    padding: 0.8vw 1vw;
    width: 100%;
}

.input-element-2:focus {
    background-color: #e8f0fe;
    border: 0.01vw solid #1b8572;
    outline: none;
}

.save-button {
    background-color: #1f9984;
    border: none;
    border-radius: .3vw;
    color: #fefefe;
    font-family: 'Jost-Medium';
    outline: none;
    padding: 0.8vw 0;
}

.reset-fields {
    color: #1f9984;
}