/* Sidebars Component */
.expanded-sidebar {
    background-color: #fefefe;
    border-right: .1vw solid #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: 22vw;
}

.logo-text {
    padding: 2vw 0;
    font-size: 1.4vw;
    font-family: 'Jost-Semi';
    color: #1f9984;
    cursor: pointer;
}

.expanded-sidebar .selected-menu, .expanded-sidebar .unselected-menu {
    padding: 1.3vw 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 23%;
    gap: 1.6vw;
    font-family: 'Jost-Medium';
    cursor: pointer;
}

.expanded-sidebar .selected-menu {
    border-bottom: .15vw solid #1f9984;
    border-left: .8vw solid #1f9984;
    color: #1f9984;
    
}

.expanded-sidebar .selected-menu > .es-icon, .compacted-sidebar .selected-menu > .es-icon {
    font-size: 1.3vw;
    font-weight: 900;
}

.expanded-sidebar .unselected-menu {
    background-color: white;
    border-bottom: .1vw solid #ddd;
    color: #202020;
    display: flex;
}

.expanded-sidebar .unselected-menu > .es-icon, .compacted-sidebar .unselected-menu > .es-icon {
    font-size: 1.3vw;
    font-weight: 900;
}

.compacted-sidebar {
    background-color: #fefefe;
    border-right: .1vw solid #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    width: 7vw;
}

.compacted-sidebar .selected-menu, .compacted-sidebar .unselected-menu {
    padding: 1.3vw 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6vw;
    font-family: 'Jost-Medium';
    cursor: pointer;
}

.compacted-sidebar .selected-menu {
    border-bottom: .15vw solid #1f9984;
    border-left: .4vw solid #1f9984;
    color: #1f9984;
}

.compacted-sidebar .unselected-menu {
    background-color: white;
    border-bottom: .1vw solid #ddd;
    color: #202020;
    display: flex;
    
}

/* Header Component */
.header-container {
    border-bottom: 0.1vw solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .3vw;
    width: 100%;
}

/* Main Component Container */
.main-component-container {
    display: flex;
}

/* Main Screen Container */
.main-screen {
    display: flex;
    flex-direction: column;
    padding: 1.8vw 3vw;
    width: 100%;
}

.content {}

.colored-page-link {
    color: #1f9984;
}