@font-face {
  font-family: 'Jost-Heavy';
  src: local('Jost'), url(./fonts/Jost-800-Heavy.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Bold';
  src: local('Jost'), url(./fonts/Jost-700-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Semi';
  src: local('Jost'), url(./fonts/Jost-600-Semi.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Medium';
  src: local('Jost'), url(./fonts/Jost-500-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Book';
  src: local('Jost'), url(./fonts/Jost-400-Book.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Light';
  src: local('Jost'), url(./fonts/Jost-300-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost-Thin';
  src: local('Jost'), url(./fonts/Jost-200-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Bold';
  src: local('DMSans'), url(./fonts/DMSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-BoldItalic';
  src: local('DMSans'), url(./fonts/DMSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Italic';
  src: local('DMSans'), url(./fonts/DMSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Medium';
  src: local('DMSans'), url(./fonts/DMSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-MediumItalic';
  src: local('DMSans'), url(./fonts/DMSans-MediumItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Regular';
  src: local('DMSans'), url(./fonts/DMSans-Regular.ttf) format('truetype');
}


* {
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'Jost-Book';
  font-size: 1vw;
  letter-spacing: .03vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}